.login {
  max-width: 400px;
  margin: 3rem auto;
  padding: 20px;
  text-align: center;
}

.login__card {
  padding: 2rem;
}

.login__title {
  font-size: 3.5rem !important;
  font-weight: 400 !important;
  font-family: "Grand Hotel", cursive;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
}
